<div  style="margin-left: 15%; margin-right: 15%;"> 

  <!-- <a href="cadastro">Novo</a> -->

  <br>
  <br>
  
  <form id="formProdutos" #myform="ngForm">
  <div style="width: 100%;">
    <fieldset draggable="true">
      <legend>Novo:</legend>
      <label for="mercado">Mercado Alvo:</label><br>
      <input type="text" id="mercado" name="mercado" [(ngModel)]="mercadoAlvo"><br>
      <label for="tecno">Tecnologias:</label><br>
      <input type="text" id="tecno" name="tecnologias" [(ngModel)]="tecnologias"
        placeholder="Digite as tecnologias separadas por vírgula"><br><br>
      
      <button type="button" (click)="limpar()">Limpar</button>
      <button type="button" (click)="buscarTodosFilter()">Buscar</button>
    </fieldset>
  
</div>

  <div>
      <table id="produtos">
        <thead >
          <tr>
            <th colspan="4">Produtos de Software</th>
          </tr>
        </thead>
        <thead class="thead-light">
          <tr>
            <th>Nome</th>
            <th>Descrição</th>
            <th>Mercado Alvo</th>
            <th>Tecnologias</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let p of produtos">
            <th>{{ p.nomeProduto }}</th>
            <th>{{ p.descricaoSimples }}</th>
            <th>{{ p.mercadoAlvo }}</th>
            <th>
              <table id="tecnologias">
                <tbody>
                  <tr *ngFor="let t of p.tecnologias">
                    <th>{{ t.nome }}</th>
                  </tr>
                </tbody>
              </table>
            </th>
            <!-- <th>
              <button type="button" (click)="navegate(['/cadastro/'+ p.id])">Editar</button>
              <button type="button" (click)="deletar(p.id)">Deletar</button>
            </th> -->
          </tr>
        </tbody>
      </table>
  </div>
</form>
</div>